DataLayer/JinRi.Notify.ServiceAgent/Service References/ReceiverReceiveServiceSOA/ReceiveService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.5.149:8060/ReceiveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" />
  <xs:element name="Notify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" minOccurs="0" name="message" nillable="true" type="q1:NotifyMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" minOccurs="0" name="NotifyResult" nillable="true" type="q2:NotifyMessageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>