DataLayer/JinRi.Notify.ServiceAgent/Service References/InstructionServiceSOA/InstructionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.113:8105/InstructionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JinRi.Notify.Model" />
  <xs:complexType name="BeatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeatMessage" nillable="true" type="tns:BeatMessage" />
  <xs:complexType name="BeatResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JinRi.Notify.Model" minOccurs="0" name="Result" type="q1:BeatResultEnum" />
      <xs:element minOccurs="0" name="TaskList" nillable="true" type="tns:ArrayOfTaskMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeatResult" nillable="true" type="tns:BeatResult" />
  <xs:complexType name="ArrayOfTaskMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskMessage" nillable="true" type="tns:TaskMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskMessage" nillable="true" type="tns:ArrayOfTaskMessage" />
  <xs:complexType name="TaskMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchNumber" type="xs:long" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JinRi.Notify.Model" minOccurs="0" name="Status" type="q2:TaskMessageStatusEnum" />
      <xs:element minOccurs="0" name="TaskExecutor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskParam" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JinRi.Notify.Model" minOccurs="0" name="TaskType" type="q3:TaskTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskMessage" nillable="true" type="tns:TaskMessage" />
</xs:schema>