DataLayer/JinRi.Notify.ServiceAgent/Service References/InstructionServiceSOA/InstructionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.113:8105/InstructionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" />
  <xs:import schemaLocation="http://192.168.6.113:8105/InstructionService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegisterServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" minOccurs="0" name="beatMessage" nillable="true" type="q1:BeatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterServerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" minOccurs="0" name="beatMessage" nillable="true" type="q2:BeatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" minOccurs="0" name="HeartBeatResult" nillable="true" type="q3:BeatResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" minOccurs="0" name="taskMessage" nillable="true" type="q4:TaskMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMessageList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMessageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JinRi.Notify.DTO" minOccurs="0" name="GetTaskMessageListResult" nillable="true" type="q5:ArrayOfTaskMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllServers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllServersResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>